{% extends 'films/base.html' %}

{% block content %}

{% if message %}
  <div class="alert alert-success" role="alert">
    {{ message }}
  </div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col">
      {# 1 of 3 #}
    </div>
    <div class="col-10">
      <h1>List of movies</h1>
      <br>
      <table class="table table-primary">
        <tr>
          <th>Nazwa</th>
          <th>Rok produkcji</th>
          <th>Reżyser</th>
          <th></th>
        </tr>
        {% for movie in movies %}
        <tr>
          <td>{{ movie.title }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.director.first_name }} {{ movie.director.last_name }}</td>
          <td><a href="{% url 'movie' movie.id %}"><button type="button" class="btn btn-primary">Szczegóły</button></a></td>
        </tr>
        {% endfor %}
      </table>
      <br><br>
      <form class="" action="" method="POST">
        {% csrf_token %}
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="title" class="form-control" value="">

        <label for="year" class="form-label">Year:</label>
        <input type="number" id="year" name="year" class="form-control" value="">

        <label for="rating" class="form-label">Rating:</label>
        <input type="number" id="rating" name="rating" class="form-control" value="">

        <label for="director_id" class="form-label">Director:</label>
        <select class="form-select" aria-label="Default select example" id="director_id" name="director_id">
          <option selected></option>
          {% for director in directors %}
          <option value="{{ director.id }}">{{ director.first_name}} {{ director.last_name }}</option>
          {% endfor %}
        </select>

        <label for="screenplay_id" class="form-label">Screenplay:</label>
        <select class="form-select" aria-label="Default select example" id="screenplay_id" name="screenplay_id">
          <option selected></option>
          {% for screenwriter in screenwriters %}
          <option value="{{ screenwriter.id }}">{{ screenwriter.first_name}} {{ screenwriter.last_name }}</option>
          {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary">ADD MOVIE</button>
      </form>
    </div>
    <div class="col">
      {# 3 of 3 #}
    </div>
  </div>
</div>

{% endblock %}
